<?xml version="1.0" encoding="utf-8" ?>

<configuration>
    <appSettings>
        <add key="Database_ConnectionString" value="" />

        <add key="Templates_Directory" value="" />
        <add key="SentEmails_OutputDirectory" value="" />

        <add key="MailServer_Host" value="" />
        <add key="MailServer_Port" value="" />
        <add key="MailServer_Username" value="" />
        <add key="MailServer_Password" value="" />

        <add key="From_Name" value="DDD East Anglia" />
        <add key="From_EmailAddress" value="sessions@dddeastanglia.com" />
        <add key="BCC_EmailAddress" value="" />

        <add key="Email_SubjectLine" value="Your DDD East Anglia session submission" />
        <add key="Email_SpeakerNamePlaceholder" value="[NAME]" />
        <add key="Email_SessionTitlePlaceholder" value="[SESSION]" />
    </appSettings>
</configuration>
